div :first-child {
    color: pink;
}
.yellow{
    color: yellow;
}
#greycol {
    color: gray;
}
.text-box div > p {
    color: red;
}
.text-box :nth-last-child(2) {
    color: green;
}

ul {
    background-color: chocolate;
}

#list{
    background-color: cadetblue;
}
.list-link :nth-child(3n-1) {
    color: red;
    font-size: 20px;
}
.list-link :nth-child(3n-3){
    background-color: rgb(56, 255, 6);
    font-size: 13px;
}

    

#List :nth-child(3) {
    color: blue;
        background-color: aqua;
}
.Monday :hover{
color: blue;
background-color: brown;
}
.Tuesday :visited{
    color: aqua;
}